<div *ngIf="dataLoaded == false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Ürün Arama">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
Aradığınız Ürün {{filterText}}
</div>
<table *ngIf="dataLoaded == true">
    <thead>
        <tr>
            <th>Kategori</th>
            <th>Satıcı</th>
            <th>Ürün Kodu</th>
            <th>Ürün Adı</th>
            <th>Ürün Detayı</th>
            <th>Fiyat</th>
            <th>KDV Dahil Fiyat</th>
            <th>Stok Adedi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filter:filterText">
            <td>{{ product.categoryId }}</td>
            <td>{{ product.brandId }}</td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.productName | uppercase }}</td>
            <td>{{ product.productDetail }}</td>
            <td>{{ product.unitPrice |currency}}</td>
            <td>{{ product.unitPrice|vatAdded:18|currency }}</td>
            <td>{{ product.inStock }}</td>
            <td><button (click)="addToCart(product)" type="button" class="btn btn-success">Sepete Ekle</button></td>
        </tr>
    </tbody>
</table>
